body {
  background: url("../img/fundo.jpeg") no-repeat center center fixed;

  background-size: cover;

  -webkit-background-size: cover; /* SAFARI / CHROME */

  -moz-background-size: cover; /* FIREFOX */

  -ms-background-size: cover; /* IE */

  -o-background-size: cover; /* OPERA */
}

main {
  background: linear-gradient(0deg, rgba(19, 3, 3, 0.4), rgba(19, 3, 3, 0.4)), rgba(245, 227, 224, 0.6);
  max-width: 500px;
  margin: 3px auto;
  padding: 50px;
  border-radius: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Prata', sans-serif;
  color: white;
  font-size: 38px;
  font-weight: lighter;
  padding-right: 70%;
  margin-top: 2%;
  margin-left: 1%;
}

#titulo {
  font-family: sans-serif;
  color: #FFFFFF;
  margin-left: 3%;
}

#preencha {
  font-family: sans-serif;
  color: #FFFFFF;
  margin-left: 3%;

}

fieldset {
  border: 0;
}

p {
  color: #FFFFFF ; 
}

.grupo{
  color: #FFFFFF ;
}

input, select, textarea, button {
  border-radius: 5px;

}

.campo {
  margin-bottom: 1em;

}

.campo label {
  margin-bottom: 0.10em;
  color: #FFFFFF;
  display: block;
}

fieldset.grupo .class {
 float: left;
 margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"],.campo input[type="password"], .campo input[type="password"] .campo select, .campo textarea {
  padding: 0.4em;
  border: 1px ;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;

}

.botao {
  font-size: 0.8em;
  background: #D15050;
  border: 0;
  margin-bottom:  1em;
  color: #FFFFFF;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 2px 1px 1px rgba(0,0,0,0.2);
  position: relative;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 5%;
  transform: translate(-50%, -50%);
}

.botao:hover{
  background: #e4758b;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;


}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
