body {
  background: url("/src/img/fundo.jpeg") no-repeat center center fixed;

  background-size: cover;

  -webkit-background-size: cover; /* SAFARI / CHROME */

  -moz-background-size: cover; /* FIREFOX */

  -ms-background-size: cover; /* IE */

  -o-background-size: cover; /* OPERA */
}

*{
  margin: 0;
  padding: 0;
}

#titulo {
  font-family: sans-serif;
  color: #FFFFFF;
  margin-left: 7%;
}

#preencha {
  font-family: sans-serif;
  color: #FFFFFF;
  margin-left: 8%;

}

fieldset {
  border: 0;
}

body {
  background-color: #F5E3E0;
  font-family: sans-serif;
  font-size: 1em;
  color:#FFFFFF;
  margin-left: 36%;
  margin-top: 3%;
  justify-content: center;
}

input, select, textarea, button {
  border-radius: 5px;

}

.campo {
  margin-bottom: 1em;

}

.campo label {
  margin-bottom: 0.10em;
  color: #FFFFFF;
  display: block;
}

fieldset.grupo .class {
 float: left;
 margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="senha"] .campo select, .campo textarea {
  padding: 0.2em;
  border: 1px ;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;

}

.botao {
  font-size: 0.8em;
  background: #D15050;
  border: 0;
  margin-bottom: 1em;
  color: #FFFFFF;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 2px 1px 1px rgba(0,0,0,0.2);
  position: relative;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 5%;
  transform: translate(-50%, -50%);
}

.botao:hover{
  background: #e4758b;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;


}