body {
  background: url("/src/img/fundo.jpeg") no-repeat center center fixed;

  background-size: cover;

  -webkit-background-size: cover; /* SAFARI / CHROME */

  -moz-background-size: cover; /* FIREFOX */

  -ms-background-size: cover; /* IE */

  -o-background-size: cover; /* OPERA */
}

h1 {
  font-family: 'Prata', sans-serif;
  color: white;
  width: 392px;
  height: 56px;
  font-size: 38px;
  font-weight: lighter;
  margin-top: 2%;
  margin-left: 2%;
}
button {
  background-color: #d04040;
  width: 168px;
  height: 42px;
  padding: 0px;
  border: 0px;
  font-family: 'Zilla Slab', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.Entrar {
  margin-top: -3.5%;
  margin-left: 90%;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  color: white;
  width: 1000px;
  height: 57px;
  font-size: 50px;
  font-weight: bold;
  margin-left: 25%;
  margin-top: 10%;
}

p {
  color: white;
  font-family: 'Zilla Slab', sans-serif;
  width: 700px;
  height: 38px;
  font-size: 32px;
  font-weight: lighter;
  margin-left: 35%;
}

section {
  color: white;
  font-family: 'Zilla Slab', sans-serif;
  width: 800px;
  height: 30px;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 32%;
  margin-top: 5%;
}

.CriarConta {
  margin-left: 45%;
}
